* {
  font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
  margin: 0px;
}

main {
  height: 99.5vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  border: 1px solid green;
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  
  & h1 {
    color: navy
  }
}

.messages {
  padding-inline: 20px;
  margin-inline: 0px;
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 0px;
  }


}

ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

li {
  list-style-type: none;
  border: 1px solid lightgray;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  margin: 10px;
  width: fit-content;
  max-width: 80%;
  
  &.client {
    align-self: flex-end;
    border-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0px;
    background-color: rgb(236, 236, 255);
    
  }


  & p {
    padding: 10px;
    font-size: .8rem;
    margin: 0px; 
  }
}

form.chatForm {
  display: flex;
  width: 95%;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-inline: auto;
  box-shadow: 2px 5px 10px rgb(235, 235, 235);

  input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
  }
  
  button {
    padding: 10px;
    border: none;
    background: navy;
    color: white;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    outline: 1px solid navy;
    
    &:hover {
      color: navy;
      outline: 1px solid navy;
      background-color: white;
    }
  }
}

.love {
  color: rgb(221, 58, 58);
}

footer {
  margin: auto;
}

.hidden {
  display: none;
}